# Virtual environment
.venv/
venv/
env/

# PyCharm
.idea/

# Python cache
__pycache__/
*.py[cod]

# Datasets
dataset/
datasets/

# Model weights
*.pt
*.pth
*.onnx

# Generated results
runs/
results/
outputs/

# Videos
videos/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db